<!DOCTYPE html>
<html>
<head>
  <title>VisDir</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<p><%= session %></p>

	<p>Your IP address is: <%= request.remote_ip %></p>
	
	<% if flash[:notice] %>
		<p id="notice"><%= flash[:notice]%>
	<% end %>


	<% if flash[:alert] %>
		<p id="alert"><%= flash[:alert]%>
	<% end %>

<header>
  <div id="header">
    <h1 id="header-logo"><a href="#">VisDir</a></h1>

    <nav id="header-nav">
      <ul id="header-nav-ul">
        <li><a href="#" class="header-nav-link">Favs</a></li>
        <li><a href="#" class="header-nav-link">About</a></li>
      </ul>
    </nav>

    <div id="header-account">
      <div id="header-account-label">Photographers</div>
  
      <ul id="header-account-ul">
        <li id="header-account-login"><a href="#">Log in</a> or</li>
        <li id="header-account-signup"><a href="#">Sign up</a></li>
      </ul>
    </div>
  </div>
</header>
	
	<%= yield %>

<footer>
  <div id="footer">
    <a href="#">VisDir</a>
  </div>
</footer>

</body>
</html>
