<%= form_for @listing do |l| %>
<p><%= l.text_field :title, :placeholder => "Listing title" %></p>
<p><%= l.text_field :location, :placeholder => "Location" %></p>
<p><%= l.text_field :budget, :placeholder => "Budget" %></p>
<p><%= l.text_field :category, :placeholder => "Category" %></p>
<p><%= l.file_field :listing_image %></p>
<p><%= l.submit "Create Listing" %></p>
  	
<% end %>