
<header>
  <div id="header">
    <h1 id="header-logo"><a href="#">VisDir</a></h1>
  
    <nav id="header-nav">
      <ul id="header-nav-ul">
        <li><a href="#" class="header-nav-link">Favs</a></li>
        <li><a href="#" class="header-nav-link">About</a></li>
      </ul>
    </nav>
  
    <div id="header-account">
      <div id="header-account-label">Photographers</div>
    
      <ul id="header-account-ul">
        <li id="header-account-login"><a href="#">Log in</a> or</li>
        <li id="header-account-signup"><a href="#">Sign up</a></li>
      </ul>
    </div>
  </div>
</header>

<main>
  <div id="main">
    <div id="searchbar">
      <div id="searchbar-label">I'm looking for</div>
    
      <div class="searchbar-section">
        <select>
					<% @listings.each do |l|%>
          <option><%= l.category %></option>
					<%end%>
        </select>
					
				
        <div class="searchbar-section-label">Photographers</div>
      </div>
    
      <div class="searchbar-label_section">in</div>
    
      <div class="searchbar-section">
					
        <select >
					<% @listings.each do |l|%>
          <option><%= l.location %></option>
					<% end %>
        </select>
				
					
					
					
      </div>
    
      <div class="searchbar-label_section">for</div>
    
      <div class="searchbar-section">
					
        <select>
					<% @listings.each do |l|%>
          <option><%= l.budget %></option>
					<% end %>
        </select>
					
      </div>
    </div>
		
	<% @listings.each do |l|%>
		<% if l.user == nil %>
		<% elsif l.user.pro == true %>
    <div id="cards">
      <div class="card card-pro">
        <a href="#" class="card-fav">Add to Favs</a>
      
        <div class="card-preview">
          <a href="/listing/<%= l.id %>"><img src="http://placekitten.com/g/200/180"></a>
        </div>
      
        <h2 class="card-header"><a href="/listing/<%= l.id %>"> <%= l.user.name if l.user %></a></h2>
      
        <div class="card-details">
          <div class="card-details-location"><%= l.location %></div>
          <div class="card-details-budget"><%= l.budget %></div>
        </div>
      </div>
			
				<% else %>
				
      <div class="card">
        <a href="#" class="card-fav">Remove from Favs</a>
        
        <h2 class="card-header"><a href="/listing/<%= l.id %>"><%= l.user.name if l.user %></a></h2>
      
        <div class="card-preview">
          <a href="/listing/<%= l.id %>"><img src="http://placekitten.com/g/200/180"></a>
        </div>
      
        <div class="card-details">
          <div class="card-details-location"><%= l.location %></div>
          <div class="card-details-budget"><%= l.budget %></div>
        </div>
      </div>  
    </div>
  </div>
		<% end %>
	<% end%>
		
	
	
</main>

<footer>
  <div id="footer">
    <a href="#">VisDir</a>
  </div>
</footer>

